<p>policy-table works!</p>
<table class="data-table"> 
  <tr>
    <td>OCR Dashboard</td>
    <td>OCR Dashboard</td>
  </tr>
</table>

<!-- TODO: figure out why data isn't being passed in -->
<table class="data-table">
  <thead>
    <th>Policy Number</th>
    <!-- <th>Policy Holder</th> -->
  </thead>
  <tbody>
    @for (policy of policies; track policy.policyNumber; let i = $index) {
      <tr>
        <td>{{ i + 1 }}</td>
        <td>{{ policy.policyNumber }}</td>
        <!-- <td>{{ policy.policyHolder }}</td> -->
      </tr>
    }
  </tbody>
</table>