<table class="policy-table">
  <thead>
    <th>&nbsp;</th>
    <th>Policy Number</th>
    <th>Result</th>
  </thead>
  <tbody>
    @for (policy of policies; track i; let i = $index) {
      <tr>
        <td><span class="isHiddenSmall">{{ i + 1 }}</span></td>
        <td>
          <b class="isHiddenMedium">Policy Number: </b>
          {{ policy.policyNumber }}
        </td>
        <td>
          <b class="isHiddenMedium">Result: </b>
          @if(policy.isValid) {
            <span>Valid</span>
          } @else {
            <span>Error</span>
          }
        </td>
      </tr>
    }
  </tbody>
</table>