// breakpoints
$breakpoint__small: 601px;
$breakpoint__medium: 768px;
$breakpoint__large: 1024px;

$table-cell-padding: 8px;

.policy-table {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;

  &__header__cell {
    display: none;
  }

  &__row { 
    display: block; 
    margin-bottom: 25px; 
  }

  &__row__cell {
    display: block;
  }
}

@media(min-width: $breakpoint__small) {
  .policy-table {
    border-collapse: collapse;
    display: table;
    width: 100%;

    &__header__cell {
      border: 1px solid var(--color-neutral-700);
      display: table-cell;
      padding: $table-cell-padding;
    }

    &__row {
      display: table-row;
    }

    &__row__cell {
      border: 1px solid var(--color-neutral-700);
      display: table-cell;
      padding: $table-cell-padding;
    }
  }
}
