<table class="policy-table">
  <thead class="policy-table__header">
    <tr>
      <th class="policy-table__header__cell">&nbsp;</th>
      <th class="policy-table__header__cell">Policy Number</th>
      <th class="policy-table__header__cell">Result</th>
    </tr>
  </thead>
  <tbody>
    @for (policy of policies; track $index; let i = $index) {
      <tr class="policy-table__row">
        <td class="policy-table__row__cell">{{ i + 1 }}</td>
        <td class="policy-table__row__cell">
          <b class="isHiddenMedium">Policy Number: </b>
          {{ policy.policyNumber }}
        </td>
        <td class="policy-table__row__cell">
          <b class="isHiddenMedium">Result: </b>
          @if(policy.isValid) {
            <span class="hdg hdg--success-msg">Valid</span>
          } @else {
            <span class="hdg hdg--error-msg">Error</span>
          }
        </td>
      </tr>
    }
  </tbody>
</table>