@import url('../../../../../styles.scss');
// breakpoints
// $breakpoint-medium: 748px;

$table-cell-padding: 8px;

.policy-table {
  display: flex;
  flex-direction: column;
  font-family: 'Arial', Helvetica, sans-serif;
  border: 1px solid red;

  th {
    // display: flex;
    // flex-direction: column;
    display: none;
  }

  tr { display: block; margin-bottom: 25px; }

  td {
    display: block;
  }

  .isHiddenSmall {
    display: none;
  }
}

@media(min-width: 601px) {
  .policy-table {
    display: table;
    border: 1px solid green;
    border-collapse: collapse;
    // color: var(--color-neutral-400);
    width: 100%;

    & th {
      display: table-cell;
      border: 1px solid var(--color-neutral-700);
      padding: $table-cell-padding;
    }

    & tr {
      display: table-row;
    }

    & td {
      border: 1px solid var(--color-neutral-700);
      display: table-cell;
      padding: $table-cell-padding;
    }

    // TODO: create a system for this?
    .isHiddenSmall {
      display: block;
    }

    .isHiddenMedium {
      display: none;
    }
  }
}
