<h2 class="hdg hdg--2">OCR File Upload</h2>
<div class="vr vr__x2">
  @if (hasError) {
    <p class="hdg hdg--error-msg">{{ errorMsg }}</p>
  }
</div>
<div class="vr vr__2">
  @if (successMsg) {
    <p class="hdg hdg--success-msg">{{ successMsg }}</p>
    <p class="hdg hdg--success-msg"> ID: {{ responseId }}</p>
  }
</div>
<div class="vr vr--x2">
  <!-- TODO: remove alternate file types after testing file size and file type -->
  <input type="file" accept=".csv, .mp4, .jpg" class="file-input" (change)="onSelectedFile($event)">
</div>

@if (policies.length > 0) {
  <div class="vr vr--x4">
    <app-policy-table [policies]="policies"></app-policy-table>
  </div>
  <div class="vr vr__x4">
    <button type="button" class="btn" (click)="onSubmit()" [disabled]="policies.length === 0">Submit policy numbers</button>
  </div>
}



